<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <!-- Remove this line if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="description" content="Designa Studio, a HTML5 / CSS3 template.">
    <meta name="author" content="Sylvain Lafitte, Web Designer, sylvainlafitte.com">

    <title>Genotype Phenotype Search</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <link rel="stylesheet" href="<%=static_dir%>/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <script src="<%=static_dir%>/js/jquery-1.12.4.js"></script>

    <!-- dynatree -->
    <script src="<%=static_dir%>/js/dynatree/jquery/jquery-ui.custom.js"></script>
    <script src="<%=static_dir%>/js/dynatree/jquery/jquery.cookie.js"></script>
    <link href="<%=static_dir%>/js/dynatree/src/skin/ui.dynatree.css" rel="stylesheet" type="text/css">
    <script src="<%=static_dir%>/js/dynatree/src/jquery.dynatree.js"></script>

    <!-- This will do the pagination -->
    <script src="<%=static_dir%>/js/pagination.js"></script>
    <link href="<%=static_dir%>/css/pagination.css" rel="stylesheet" />

    <!--bootstrap-->
    <script src="<%=static_dir%>/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

    <!--select2 deals with the search box-->
    <link href="<%=static_dir%>/js/select2-4.0.3/dist/css/select2.min.css" rel="stylesheet" />
    <script src="<%=static_dir%>/js/select2-4.0.3/dist/js/select2.full.min.js"></script>


    <link rel="stylesheet" href="<%=static_dir%>/css/style.css">
    <link rel="stylesheet" href="<%=static_dir%>/css/myStyle.css">

    <!--[if lt IE 9]>
    <script src="<%=static_dir%>/http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<script>
    var eng = '<%-lan%>' == 'eng' ? 1 : 0;
</script>
    <!-- Prompt IE 7 users to install Chrome Frame -->
    <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-10">
                <a href="/index" class="col-md-2">
                    <img class="img-brand" alt="Brand" src="<%=static_dir%>/img/logo.png"/>
                </a>
                <a href="http://transmed.sjtu.edu.cn/yale.html" class="col-md-1">
                    <img class="img-brand" alt="Brand" src="<%=static_dir%>/img/logo-sjtu.png"/>
                </a>
                <a href="http://transmed.sjtu.edu.cn/yale.html" class="col-md-1">
                    <img class="img-brand" alt="Brand" src="<%=static_dir%>/img/logo-yale.png"/>
                </a>
                <a href="http://www.shchildren.com.cn" class="col-md-3">
                    <img class="img-brand" alt="Brand" src="<%=static_dir%>/img/logo-sch.png"/>
                </a>
                <!--a class="navbar-brand col-md-2" id="my-brand" href="/index">
                    <p>GPS搜索</p>
                </a-->
            </div>
            <!-- 顶部导航条右侧栏 -->
            <div class="my-navbar-right">
                <a href="http://202.121.178.141/MDPA/index.html">
                    <div><span class="badge"><% if (lan == 'eng') { %>Old version<% } else { %>回到旧版<% } %></span></div>
                </a>
                <a href="javascript:void(0);" onclick="setFavor('Genotype Phenotype Search', window.location.host);">
                    <div><span class="badge"><% if (lan == 'eng') { %>Add to favourites<% } else { %>加入收藏<% } %></span></div>
                </a>
                <a href="http://transmed.sjtu.edu.cn/yale.html">
                    <div><span class="badge"><% if (lan == 'eng') { %>Contact us<% } else { %>联系我们<% } %></span></div>
                </a>
                <% if (lan == 'eng') { %>
                    <a class="lan-switch" href="/index?lan=chs">
                        <div><span class="badge">切换至中文版</span></div>
                    </a>
                <% } else { %>
                    <a class="lan-switch" href="/index?lan=eng">
                        <div><span class="badge">English version</span></div>
                    </a>
                <% } %>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <br/>
    <br/>
    <div class="container">
        <div class="home-page main">