<% include ./header.ejs %>
            <div class="row">
                <div class="col-md-7">
                    <h6 class="fleft">图片新闻</h6>
                    <br/>
                    <hr class="hr-main"/>
                    <div id="newsCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#newsCarousel" data-slide-to="1"></li>
                            <li data-target="#newsCarousel" data-slide-to="2"></li>
                            <li data-target="#newsCarousel" data-slide-to="3"></li>
                            <li data-target="#newsCarousel" data-slide-to="4"></li>
                        </ol>

                        <div class="carousel-inner news-inner" role="listbox">
                            <% ImgArticles.forEach(function(one, index){ %>
                            <div <%if(index==0){%> class="item active"<%}else {%>class="item"<%} %>>
                                <img  src=<%=one.thumb%> alt="" onclick="window.location='/index/imgnews/<%=one.id%>'"/>
                                <div class="my-carousel-caption">
                                    &nbsp;&nbsp;&nbsp;<%=one.title%>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <!--用作控制器-->
                        <a href="#newsCarousel" data-slide="prev" class="carousel-control left" role="button">
                            <img class="icon-prev" src="<%=static_dir%>/img/Left.png"/>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a href="#newsCarousel" data-slide="next" class="carousel-control right" role="button">
                            <img class="icon-next" src="<%=static_dir%>/img/right.png"/>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
                <div class="col-md-5">
                    <h6 class="fleft">新闻资讯</h6>
                    <a href="/index/industry_news"><span class="badge fright badge-more">+more</span></a>
                    <br/>
                    <br/>
                    <ul class="ul-news">
                        <% newsArticles.forEach(function(one, key){ %>
                        <li><a href="/index/industry_news/<%=one.id%>"><%=one.title%></a></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-7">
                    <h6 class="fleft">中心动态</h6>
                    <a href="/index/industry_centreDynamics"><span class="badge fright badge-more">+more</span></a>
                    <br/>
                    <hr class="hr-main"/>
                    <% centreArticles.forEach(function(one, key){ %>
                        <div class="pic-and-word col-md-12">
                            <a class="thumbnail col-md-3" href="/index/industry_centreDynamics/<%=one.id%>">
                                <img src="<%=one.thumb%>" alt="图片"/>
                            </a>
                            <div class="col-md-9 word-area">
                                <p class="area-dscrpt"><a class="area-link" href="/index/industry_centreDynamics/<%=one.id%>"><%=one.title%></a></p>
                                <div class="area-date"><%=dateFormat(one.puttime).substr(0,10)%></div>
                                <div class="area-view">
                                    <img class="view-img" src="<%=static_dir%>/img/VIEW.png" alt="view"/> <%=one.hits%>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="col-md-5">
                    <h6 class="fleft">技术动态</h6>
                    <a href="/index/technology_techDynamics"><span class="badge fright badge-more">+more</span></a>
                    <br/>
                    <hr class="hr-invisible"/>
                    <% techArticles.forEach(function(one, key){ %>
                        <div class="pic-and-word col-md-12">
                            <a class="thumbnail col-md-3" href="/index/technology_techDynamics/<%=one.id%>">
                                <img src="<%=one.thumb%>" alt="图片"/>
                            </a>
                            <div class="col-md-9 word-area">
                                <p class="area-dscrpt">
                                    <a class="area-link" href="/index/technology_techDynamics/<%=one.id%>">
                                        <%=one.title%>
                                    </a>
                                    <br/>
                                    <%=one.description%>
                                </p>
                                <div class="area-date"><%=dateFormat(one.puttime).substr(0,10)%></div>
                                <div class="area-view-0">
                                    <!--span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span-->
                                    <img class="view-img" src="<%=static_dir%>/img/VIEW.png" alt="view"/> <%=one.hits%>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
<% include ./footer.ejs %>

