<% include header.ejs %>
<p>Patient_Id: <%-aCase.id %></p>
<p>来源: <%-aCase.CaseOrigin %></p>
<p>姓名: <%-aCase.PatientName %></p>
<p>性别: <%-aCase.Sex %></p>
<p>年龄: <%-aCase.Age %></p>
<p>症状: <%-aCase.Phenotype %></p>
<p>基因: <%-aCase.Genotype %></p>
<p>所有者: <%-aCase.Owner %></p>


<% include footer.ejs %>